---
name: format-json-yml
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  merge_group:
permissions:
  contents: write
  pull-requests: write
jobs:
  format-json-yml:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@c1a285145b9d317df6ced56c09f525b5c2b6f755 # v1.11.1
        with:
          app-id: ${{ secrets.PROJECT_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.PROJECT_AUTOMATION_PRIVATE_KEY }}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha || github.event.merge_group.head_sha }}
          token: ${{ steps.generate_token.outputs.token }}
      - uses: dev-hato/actions-format-json-yml@d734536c3d78cd63c0be271d4fa1df500ce3c29f # v0.0.78
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
